{% load static %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="google-signin-client_id" content="581287295509-qs0o85rfivhlektd9kf0sntmfvuiptns.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story_9/css/style9.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{% static 'story_9/js/story_9.js' %}"></script>
    <script src="{% static 'story_9/js/auth.js' %}"></script>
    <title>Story 9</title>
</head>

<body>
    <h1 style="padding-left:10%;padding-top:2%">Hello, this is {{ username }}'s books list</h1>

    <div style="padding-left:10%">
        <input type="text" id="search-box" class="form-control" style="width:15%"></input>
        <button id="submit-search" class="btn btn-primary" onclick="searchBook()">Search</button>
        <button class="btn btn-secondary" onclick="signOut();">Sign Out</button>
    </div>
    <div class="favsection">
        <i class="bigstar"></i>
        <span id="numOfFavBooks">{{ numOfFavBooks }}</span>
    </div>>
    <div class="table-responsive-sm">
        <table id="daftar_buku" class="table table-bordered table-striped" align="center">
            <thead class="thead-light">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Published Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="table-content">
            </tbody>
        </table>
    </div>
</body>
</html>
