{% load static %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="google-signin-client_id" content="581287295509-qs0o85rfivhlektd9kf0sntmfvuiptns.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story_9/css/style9.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{% static 'story_9/js/story_9.js' %}"></script>
    <script src="{% static 'story_9/js/auth.js'%}"></script>
    <title>Story 11</title>
</head>

<body>
    <div align="center" style="padding-top: 100px">
        <h1>Hello, please login to continue :)</h1>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
</script>
</body>
</html>
