{% load static %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story_10/css/style10.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'story_10/js/story_10.js' %}"></script>
    <title>Story 10</title>
</head>
<body>
    <h1>Subscribe my website!</h1>
    <div class="subscribe-form">
        <form id="subscribe-form" method="POST" onsubmit="addSubscriber()">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="subscribe-btn" type="submit" class="btn btn-primary" disabled>Subscribe!</button>
        </form>
    </div>

    <div class="table-responsive-sm">
        <table id="daftar_subscriber" class="table table-bordered table-striped" align="center">
            <thead class="thead-light">
                <tr>
                    <th>Subscriber</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="table-content">
            </tbody>
        </table>
    </div>
</body>
</html>
