{% load static %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story_8/css/style8.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'story_8/js/story_8.js' %}"></script>
    <title>Story 8</title>
</head>

<body onload="bar()">
    <div class="loading">
        <h2>Loading ...</h2>
        <div id="load-bar" align="center"></div>
    </div>

    <div name="content" class="content">
        <button name="ubah_tema" class="btn ubah-tema" onclick=ubah_tema() onmouseover="preview_tema()" onmouseout="tema_awal()" style="float:right">Ubah tema</button>
        <h1>Irwanto's website</h1>
        <br>
        <h4 align="center">Halo, nama saya Irwanto<br>Ingin tau tentang saya?<br>Klik bagian-bagian di bawah!</h4>
        <br>
        <div name="accordion1" class="accordion ubah-tema closed">
            <h2 class="header">Aktivitas</h2>
            <div class="panel"><h5>
                <ul>
                    <li>Kuliah</li>
                    <li>Kerjain story PPW</li>
                    <li>Asdosin MD 1</li>
                </ul>
            </h5></div>
        </div>
        <br>
        <div name="accordion2" class="accordion ubah-tema closed">
            <h2 class="header">Prestasi</h2>
            <div class="panel"><h5>
                <ul>
                    <li>Tidak ada :(</li>
                </ul>
            </h5></div>
        </div>
        <br>
        <div name="accordion3" class="accordion ubah-tema closed">
            <h2 class="header">Pengalaman Organisasi/Kepanitiaan</h2>
            <div class="panel"><h5>
                <ul>
                    <li>Staf OSR KMBUI XXVI</li>
                    <li>Staf Akademis PMB 2018</li>
                    <li>Staf Software Engineering Academy CFX</li>
                </ul>
            </h5></div>
        </div>
    </div>
</body>
</html>
