.row {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2vw;
}

.profile-picture {
    float: left;
    width: 12vw;
    height: 15vw;
    border-radius: 2vw;
    margin-right: 2vw;
}

.roundedcorner {
    color: #F7FF85;
    border-radius: 2vw;
    background: #00A6FF;
    padding: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 40vw;
    height: 17vw;
}

.icon {
    float: left;
    padding-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 3vw;
    width: 7vw;
    height: 7vw;
}

.contact-icon {
    float: left;
    margin-left: 5vw;
    width: 3vw;
    height: 3vw;
}

.desc {
    display: flex;
    overflow: auto;
    justify-content: center;
    text-align: center;
    font-size: 1.5vw;
    color: #00A6FF;
    margin-top: 2vw;
}

.contact {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.what {
    overflow: auto;
}

.text-in-box {
    font-size: 2vw;
    vertical-align: middle;
}

.box-title {
    font-size: 2.2vw;
    font-weight: bold;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .profile-picture {
        float: left;
        width: 20vw;
        height: 25vw;
        border-radius: 2vw;
        margin-right: 2vw;
    }

    .desc {
        display: flex;
        overflow: auto;
        justify-content: center;
        text-align: center;
        font-size: 3vw;
        color: #00A6FF;
        margin-top: 2vw;
    }

    .roundedcorner {
        color: #F7FF85;
        border-radius: 2vw;
        background: #00A6FF;
        padding: 1vw;
        margin-left: 2vw;
        margin-right: 2vw;
        width: 40vw;
        height: 100%;
    }

    .text-in-box {
        font-size: 2.4vw;
        vertical-align: middle;
    }

    .box-title {
        font-size: 2.7vw;
        font-weight: bold;
        text-align: center;
    }
}
