<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Story 6</title>
</head>
<body>
    <h1>Hello, apa kabar?</h1>

    <div align="center">
        <form id="form" method="POST" action= "{% url 'add_status' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div align="center">
        {% for status in all_status %}
        {{ status.time }}<br>
        <p>{{ status.status }}</p>
        {% endfor %}
    </div>

</body>
</html>
