{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'story_6/css/style.css' %}" type="text/css">
        <title>Profile</title>
    </head>
    <body>
        <div class="row">
            <div class="desc">
                <img src="{% static 'story_6/images/foto.JPEG' %}" class="profile-picture">
                <div class="roundedcorner">
                    <div class="box-title"> Profile </div>
                    Name			: Irwanto <br>
                    Date of Birth	: 19 Feb 1999 <br>
                    Address         : Jl. Wilis No: 24 Medan <br>
                    Mobile		    : 081263147200 <br>
                    Email			: irwanto_kong@yahoo.co.id
                </div>
            </div>

            <div class="main">
                <div class="what">
                    <div class="roundedcorner">
                        <div class="box-title">Education</div>
                        <img src="{% static 'story_6/images/Makara_UI.png' %}" class="icon">
                        <div class="text-in-box">
                            Faculty of Computer Science, <br>
                            University of Indonesia <br>
                            2017 - now
                        </div>
                    </div>
                </div>

                <div class="what">
                    <div class="roundedcorner">
                        <div class="box-title">Skill</div>
                        <img src="{% static 'story_6/images/if_list_293685.png' %}" class="icon">
                        <div class="text-in-box">
                            Programming with Java and Python <br>
                            Fluent in Indonesia, English, and Chinese
                        </div>
                    </div>
                </div>
            </div>

            <div class="main">
                <div class="what">
                    <div class="roundedcorner">
                        <div class="box-title">Organizational Experience</div>
                        <img src="{% static 'story_6/images/if_organization_298836.png' %}" class="icon">
                        <div class="text-in-box">
                            Organizational Social Responsibility Staff at KMBUI <br>
                            2018 - now
                        </div>
                    </div>
                </div>

                <div class="what">
                    <div class="roundedcorner">
                        <div class="box-title">Work Experience</div>
                        <img src="{% static 'story_6/images/if_work_2_326727.png' %}" class="icon">
                        <div class="text-in-box">
                            Discrete Mathematics Teaching Assistant <br>
                            Aug 2018 - now
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
