#daftar_buku {
    width: 80%;
}

.favsection {
    width: 80%;
    text-align: right;
}

.bigstar {
    content: url('../images/star.png');
    width: 40px;
    height: 40px;
    padding-top: 10px;
}

#numOfFavBooks {
    font-size: 40px;
    position: relative;
}

.favbutton {
    background-color: transparent;
    border: none;
}

.favstar {
    content: url('../images/blank_star.png');
    width: 30px;
    height: 30px;
}

.favstar:hover {
    content: url('../images/star.png');
    width: 30px;
    height: 30px;
}
