body {
    background-color: black;
    color: white;
}

.ubah-tema {
    background-color: white;
    color: black;
    text-align: right;
}

.accordion {
    border-radius: 10px 10px;
    background-color: white;
    color: black;
    text-align: right;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    text-align: left;
}

.header {
    margin-top: 1.5%;
    margin-left: 1.5%;
}

.panel {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2.5%;
}

.content {
    display: none;
}

.loading {
    margin-top: 5%;
    margin-left: 20%;
}

#load-bar {
    width: 1%;
    height: 1%;
    background-color: white;
}
